@import "base";
@import "compass/layout/grid-background";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "_mixins";
@import "_coderay";

$default-text-shadow-blur: 2px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

html {
  background: url('../images/background.png');
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica, arial, sans-serif;
  color: #02314d;
  width: 960px;
  margin: 0 auto;
  line-height: 1.2;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-variant: small-caps;
  @include single-text-shadow;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 42px;
}

#wrapper {
  @include debug-border(blue);
  width: 780px;
  margin-left: 150px;
  clear: both;
}

strong {
  font-weight: bold;
}

header {
  @include debug-border(green);
  margin: 20px 0 0 0;
  .slogan {
    width: 750px;
    @include debug-border(red);
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    p {
      font-size: 20px;
      margin: 14px 0;
      &.catch-phrase {
        font-style: italic;
      }
    }
    h1 {
      @include single-text-shadow;
    }
  }
  img {
    float: left;
    height: 160px;
  }
}

a {
  font-weight: bold;
  color: #022840;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

nav {
  float: right;
  padding: 20px;
  margin: auto;
  ul {
    font-size: 24px;
    li {
      display: inline;
      padding: 5px 10px;
    }
  }
}

p {
  margin: 20px 0;
  letter-spacing: .5px;
}

.kudos {
  float: right;
  font-size: 0.9em;
}

blockquote {
  border-left: 5px solid #ed1b24;
  color: #555555;
  margin: 14px 0;
  padding-left: 18px;
}

code, tt {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 14px;
}
