:preserve
  <table class="CodeRay"><tr>
    <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }">gem install girl_friday<tt>
  </tt></pre></td>
  </tr></table>
