- @layout = "application"
- @page_title = "Girl Friday"
- @body_class = "content"
- @page_description = "girl_friday is a Ruby library for performing asynchronous tasks"

%section
  %header
    = img "girl.png"
