:preserve
  <table class="CodeRay"><tr>
    <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }"><span class="co">EMAIL_QUEUE</span>.push(<span class="sy">:email</span> =&gt; <span class="iv">@user</span>.email, <span class="sy">:name</span> =&gt; <span class="iv">@user</span>.name)<tt>
  </tt></pre></td>
  </tr></table>
    
