:preserve
  <table class="CodeRay"><tr>
    <td class="code">
    <pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }">gem 'girl_friday'</pre>
  </td>
</tr></table>
