- @layout = "application"
- @page_title = "girl_friday"
- @body_class = "content"
- @page_description = "girl_friday - background processing for Ruby"

%nav
  %ul
    %li 
      %a{:href => 'http://blog.carbonfive.com/2011/04/20/asynchronous-processing-with-girl_friday/'} Introduction
    %li 
      %a{:href => 'http://blog.carbonfive.com/2011/04/19/concurrency-with-actors/'} Actors
    %li 
      %a{:href => 'http://www.mikeperham.com/'} Blog
    %li
      %a{:href => 'http://github.com/mperham/girl_friday/wiki'} Wiki
    %li
      %a{:href => 'http://github.com/mperham/girl_friday'} Source

%header
  = img "girl.png"
  .slogan
    %h1 Girl Friday
    %p Simple and efficient background processing for Ruby!

#wrapper
  %h3 Installation
  %p 
    Add girl_friday to your application's 
    %tt Gemfile:

  = partial('gem_install')
  
  %p 
    Then you declare your application's required background processors in 
    %code config/initializers/girl_friday.rb:

  = partial('init_sample')

  %p
    In your controller action or model, you can call
    %tt push(msg):

  = partial('email_queue_push')

  %p The msg parameter to push is just a Hash whose contents are completely up to you.

  %h3 More Detail
  %p 
    Please see the 
    %a{:href => 'https://github.com/mperham/girl_friday/wiki'} girl_friday wiki 
    for more detail and advanced options and tuning. You'll find details on queue persistence with Redis, usage with Heroku, implementing clean shutdown, querying runtime metrics and so much more!

  %blockquote
    %p The term Man Friday has become an idiom, still in mainstream usage, to describe an especially faithful servant or one's best servant or right-hand man. The female equivalent is Girl Friday. The title of the movie His Girl Friday alludes to it and may have popularized it.

  %h3 Author
  %p 
    Mike Perham
    %a{:href => 'http://www.twitter.com/mperham'} @mperham
    %a{:href => 'http://www.mikeperham.com'} mikeperham.com

  %p.kudos 
    Site design by Chad Seeger (
    %a{:href => 'http://www.twitter.com/cs44'} @cs44
    )
